In [20]:
import pandas as pd
from sklearn import svm
from sklearn.preprocessing import StandardScaler

In [5]:
ion_data = pd.read_csv('data/train_data_with_features.csv')

In [6]:
test_data = pd.read_csv('data/test_data_with_features.csv')

In [7]:
#test data
test_values=test_data[['signal','simple_moving_avg_50','rolling_std_50','simple_moving_avg_50_batch','moving_std_50_batch']].values

In [8]:
ion_data.head()

,time,signal,open_channels,batch,simple_moving_avg_50,rolling_std_50,simple_moving_avg_50_batch,moving_std_50_batch
0,0.0001,-2.7600,0,0,0.0,0.0,0.0,0.0
1,0.0002,-2.8557,0,0,0.0,0.0,0.0,0.0
2,0.0003,-2.4074,0,0,0.0,0.0,0.0,0.0
3,0.0004,-3.1404,0,0,0.0,0.0,0.0,0.0
4,0.0005,-3.1525,0,0,0.0,0.0,0.0,0.0

In [9]:
ion_data.shape

(5000000, 8)

In [10]:
ion_data_500 = ion_data.sample(n=500000)

In [22]:
ion_data_500.head()

,time,signal,open_channels,batch,simple_moving_avg_50,rolling_std_50,simple_moving_avg_50_batch,moving_std_50_batch
3057782,305.7783,0.3337,1,6,-0.794260,0.492793,-0.794260,0.492793
893932,89.3933,-2.4783,0,1,-2.737276,0.271003,-2.737276,0.271003
993221,99.3222,-2.8439,0,1,-2.757668,0.233351,-2.757668,0.233351
661387,66.1388,-2.8490,0,1,-2.697716,0.213183,-2.697716,0.213183
59335,5.9336,-2.9143,0,0,-2.732898,0.229677,-2.732898,0.229677

In [21]:
test_data.head()

,time,signal,batch,simple_moving_avg_50,rolling_std_50,simple_moving_avg_50_batch,moving_std_50_batch
0,500.0001,-2.6498,0,0.0,0.0,0.0,0.0
1,500.0002,-2.8494,0,0.0,0.0,0.0,0.0
2,500.0003,-2.8600,0,0.0,0.0,0.0,0.0
3,500.0004,-2.4350,0,0.0,0.0,0.0,0.0
4,500.0005,-2.6155,0,0.0,0.0,0.0,0.0

In [15]:
X= ion_data_500[['signal','simple_moving_avg_50','rolling_std_50','simple_moving_avg_50_batch','moving_std_50_batch']].values
y=ion_data_500['open_channels'].values

In [18]:
#scale your training data
scaler = StandardScaler()
X_train_scaled_data = scaler.fit_transform(X)

In [23]:
#sclae your test data
test_values_scaled = scaler.transform(test_values)

In [24]:
X_train_scaled_data

array([[-0.31570009, -0.6785713 , -0.6169674 , -0.67854856, -0.61677172],
       [-1.15901576, -1.28391043, -1.08954635, -1.28390113, -1.08941717],
       [-1.2686588 , -1.29026348, -1.16977272, -1.29025432, -1.16965484],
       ...,
       [-1.10416426, -1.10483308, -0.29365398, -1.10481981, -0.2934128 ],
       [-1.27096802, -1.2995139 , -1.13383357, -1.29950495, -1.13371063],
       [-1.25582312, -1.29021051, -1.17697138, -1.29020135, -1.1768545 ]])

In [25]:
#create a svm classifer
sv_ploy = svm.SVC(kernel = 'poly')
sv_ploy.fit(X_train_scaled_data,y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='poly', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [ ]:
#predict on scaled values
y_pred = sv_ploy.predict(test_values_scaled)

In [27]:
accuracy_score(y, y_pred)

In [28]:
confusion_matrix(y_test, y_pred)

In [ ]:
print(classification_report(y_test, y_pred))

In [ ]:
svm_submission =pd.DataFrame()
svm_submission['time'] = test_data.time
svm_submission['open_channels'] = y_pred

svm_submission.time = svm_submission.time.apply(lambda x: '{:.4f}'.format(x))
svm_submission.to_csv('data/svm_submission10.csv',index=False)